<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
    <div class="selectArticle">
        <div class="articleHeader">
            <h1 th:text="*{articleTitle}"></h1>
            <h4 th:text="*{articleAuthor}"></h4>
            <div style="position: absolute; top: 5%; left: 10%;">
                <h4>Data publikacji:</h4>
                <h3 th:text="*{articlePublishDate}"></h3>
            </div>
        </div>
        <h1 th:text="*{articleContent}"></h1>
    </div>
</body>
</html>